.cards{
    float: left;
    background-color: wheat;
    width: 250px;
    box-shadow: 2px 4px 5px rgb(138, 135, 135);
    margin-top: 50px;
    margin-left: 45px;
    padding: 10px;

   
   
}

.card_info{
    float: left;
}

.nav-link .active{
    border-bottom: 2px solid red;
}
.nav-item{
    color: aqua;
}